* {
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(221, 216, 210); */
}


body {
    margin: 0;
}

h1 {
    background-color: rgb(0, 128, 58);
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 0;
}

h1,
p {
    text-align: left;
}

p {
    margin: 20px 200px;
    text-align: center;
}

h1 > span {
    font-size: 20px;
    margin: 0 50px;
}

div > p {
    width: 900px;
    margin: 30px
}

h2 {
    width: 800px;
    margin: 50px
}

h4 {
    width: 800px;
    margin: 50px
}

button {
    background-color: rgb(7, 7, 7);
    width: 100px;
    height: 24px;
    color: white;
    border: 1px solid black;
    width: 700px;
    margin: 0 20px
}

/* div > p {
    width: 500px;
    margin: 250px
} */

div > p {
    width: 700px;
    margin: 30px
}

img {
    height: 300px;
    /* width: 250px; */
    margin: 0 10px
}

h3 {
    background-color: rgb(0, 128, 58);
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 0;
}